<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stock</title>
  </head>
  <body>
    <h1>ซื้อสินค้าเรียบร้อยแล้ว</h1>
    <h2>สินค้าคงเหลือ</h2>

    <p>น้ำเปล่า {{water}} ขวด</p>
    <p>ข้าวสวย {{rice}} ถุง</p>
    <p>กล้วย {{banana}} หวี</p>
    <p>ขนมปัง {{bread}} ก้อน</p>
    <p>นม {{milk}} ขวด</p>

    <button
      onclick="document.location='/logout'"
      type="button"
      style="margin-top: 20px"
    >
      Logout
    </button>
  </body>
</html>
